$color-primary-input: #73abd7;
$color-secondary-input: #80b3da;
$color-primary-input-border: #5399e6;
$color-primary-input-placeholder: #0d1e57;
$color-primary-rectangle: #386ed6;
$color-primary-white: #ffffff;
