.search-bar {
  position: relative;
  width: 350px;
  height: 60px;
  background-image: linear-gradient(
    135deg,
    $color-primary-input 0%,
    $color-secondary-input 100%
  );
  border: 2px solid $color-primary-input-border;
  font-size: 29px;
  letter-spacing: -1px;
  line-height: 34px;
  color: $color-primary-input-placeholder;
  font-family: 'Open Sans';
  font-weight: 400;
  text-align: center;

  @include respondMin(big-desktop) {
    width: 450px;
    height: 80px;
  }
  @include respond(phone) {
    width: 280px;
    height: 50px;
    font-size: 2.2rem;
    margin-top: 10%;
  }

  &::placeholder {
    color: $color-primary-input-placeholder;
  }
}

.weather-day {
  font-size: 2.4rem;
  letter-spacing: -1px;
  line-height: 28px;
  color: $color-primary-white;
  font-family: 'Open Sans';
  font-weight: 400;
}
.weather-temp {
  position: relative;
  margin-top: 13%;
  font-size: 5.2rem;
  line-height: 58px;
  color: $color-primary-white;
  font-family: 'Open Sans';
  font-weight: 300;
}

.white-circle {
  position: absolute;
  top: -22%;
}

.weather-condition {
  line-height: 38px;
  color: $color-primary-white;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 2.2rem;
}

.city-name {
  font-size: 4.5rem;
  letter-spacing: 1px;
  color: $color-primary-white;
  font-family: 'myriad-pro';
  @include respond(tab-land) {
    font-size: 4rem;
  }
}

.weather-temp-today {
  position: relative;
  font-size: 11rem;
  letter-spacing: 2px;
  color: $color-primary-white;
  font-family: 'Open Sans';
  font-weight: 300;
  margin-top: 12%;
}
.today {
  font-size: 2rem;
  letter-spacing: 0px;
  color: $color-primary-white;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 10px;
}

.margin-top {
  margin-bottom: 4% !important;
}
